body{
    
    background: linear-gradient(black 0%, rgb(135, 12, 12)50%, black 50%, black 100%);min-height: 200vh;
   
}
.lista1{
    color: antiquewhite;
    width: 50vw;
    position: absolute;
    left: 350px;
    top: 360px;
}
#id1{
    color: antiquewhite;
    width: 50vw;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgb(93, 25, 25);
} 
#id2{
    color: antiquewhite;
    width: 50vw;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(149, 9, 9);
    font-size: 20px;
}
#id3{
    color: antiquewhite;
    width: 50vw;
    text-align: center;
    font-size: 25px;
}
#id4{
    color: antiquewhite;
    position: absolute;
        top: 180px;
        right: 530px;  
}
#mapa{
    position: absolute;
        right: 80px;
        top: 250px;
    box-shadow: -5px 5px 10px black;
}
#aranha1{
    position: absolute;
        top: 900px;
        right: 0px;
    transform:scaleX(-1); 
    z-index: 10;  
}
#aranha2{
    position: absolute;
        top: 430px;
        left: 150px;   
}
#aranha3{
    height: 1200px;
    width: 1200px;
    position: absolute;
        top: 1100px;
        left: -610px;
    opacity: 8%;
}
.instagrampedro{
    height: 62px;
    width: 62px;
    background-image: url(instagram-logo-instagram-icon-transparent-free-png.webp);
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
        top: 34px;
        right: 35px;
}
.instagrampedro:hover{
    background-image: url(instagram-logo-instagram-icon-transparent-free-png.webp);
    height: 75px;
    width: 75px;
    position:absolute;
        top: 28px;
        right: 29px;
}
.linkedinpedro{
    height: 40px;
    width: 40px;
    background-image: url(linkedin.webp);
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
        top: 46px;
        right: 90px;
}
.linkedinpedro:hover{
    background-image: url(linkedin.webp);
    height: 50px;
    width: 50px;
    position:absolute;
        top: 40px;
        right: 85px;
}
#aranha4{
    background-image: url(4k-homem-aranha-47cs2wu25eg7uwgm.jpg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 1101px;
    left: -15px;
    z-index: 1;
    background-attachment: fixed; 
    
}